[Unit]
Description=uwsgi emperor for 35.205.130.170 website
After=network.target
[Service]
User=hailemichael_atrsaw
Restart=always
ExecStart=/home/hailemichael_atrsaw/Virtual_Environments/media_service_env/bin/uwsgi --emperor /home/hailemichael_atrsaw/Virtual_Environments/media_service_env/vassals --uid www-data --gid www-data
[Install]
WantedBy=multi-user.target